/* UI.ItemList  Control Styles
=================================================== */

/* Item list styles
--------------------------------------------------- */

.item-list {
    margin: 0;
    padding: 0;
    list-style: none;
}